@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-image: -webkit-gradient(linear, left bottom, left top, from(black), to(#203164));
  background-image: linear-gradient(to top, black, #203164);
  /* background-color: black; */
  color: white;
  font-family: monospace;
}

h2 {
  font-family: 'Merriweather', serif;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #15234d;
  font-size: 20px;
}

#inf {
  margin-left: 40%;
}

#logo {
  margin-top: 0;
  margin-left: 170px;
}

/* Index */
.perfil {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.desc {
  width: 700px;
  height: 100%;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  font-size: 20px;
}

/* Seccion Videos y fotos*/

.contedorA {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#lago, #cerro {
  width: 500px;
  height: 500px;
}

.tituloBariloche {
  font-size: 50px;
  text-align: center;
}

.galaria {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 25px;
}

.contenedorG {
  width: 100%;
  height: auto;
  background-color: #0a2a89;
  display: -ms-grid;
  display: grid;
  overflow-x: scroll;
}

.foto {
  min-height: 200px;
  min-width: 200px;
  border: 1px solid grey;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.foto:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.foto1 {
  background-image: url(img/Cerro.jpeg);
  grid-row: 1;
  grid-row-start: 1;
  grid-row-end: 3;
  background-size: cover;
}

.foto2 {
  background-image: url(img/cerroViejo.jpg);
  background-size: cover;
}

.foto3 {
  background-image: url(img/playaDelToro.jpg);
  -ms-grid-column: 2;
  grid-column: 2;
  -ms-grid-column: 3;
  grid-column-start: 3;
  grid-column-end: 5;
  background-size: cover;
}

.foto4 {
  background-image: url(img/lagoOculto.jpg);
  grid-row: 2;
  grid-row-start: 2;
  grid-row-end: 4;
  background-size: cover;
}

.foto5 {
  background-image: url(img/puntoPanoramico.jpg);
  -ms-grid-column: 3;
  grid-column: 3;
  grid-row-start: 2;
  grid-row-end: 4;
  background-size: cover;
}

.foto6 {
  background-image: url(img/lago.jpeg);
  -ms-grid-column: 4;
  grid-column: 4;
  grid-row: 2;
  grid-row-start: 2;
  grid-row-end: auto;
  background-size: cover;
}

.foto7 {
  background-image: url(img/tronador.jpeg);
  background-size: cover;
}

/* Seccion Videos */
/* Seccion Presets */
.proximamente {
  font-size: 50px;
  text-align: center;
}
/* Seccion Presets */
form{
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  footer {
    width: 100%;
    height: 100px;
    background-color: #203164;
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */